{% extends 'layout.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/shopping.css') }}">
{% endblock %}


{% block body %}
  <div class= 'container'>
    <div class='path'>
      <a href='{{ url_for('index') }}'>首页</a>  >  <a href='{{ url_for('powders') }}'>奶粉</a>
    </div>

    {% include 'includes/_powderMenu.html' %}

    <div class = 'rightmenu'>
      <p class = "goodsTitle"> Baby Formula</p>
      <div class="goodsRow">
      {% for powder in powders %}
        <div class="goodsWrap">
          <a href='/powderDetail/{{powder.name}}'>
            <span class="imgWrap"><img class="goodsImg" src="/static/images/powder/{{powder.name}}.png"/></span>
            <div class="goodsName">{{powder.name}}</div><h4>${{powder.price}}</h4>
          </a>
        </div>
      {% endfor %}

      </div>
    </div>
  </div>


{% endblock %}
