<div class="nav">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/powders">Baby Powders</a></li>
    <li><a href="#">Health Care</a></li>
    <li><a href="#">Makeups</a></li>
    <li><a href="#">Bags</a></li>
    <li><a href="/about">About us</a></li>
    {%if session.logged_in %}
    <li><a href="/logout">Logout</a></li>
    {%else%}
    <li><a href="/register">Register</a></li>
    <li><a href="/login">Login</a></li>
    {%endif%}
    <li><a href="/cart">Cart</a></li>
  </ul>
</div>
