<div class='leftMenu'>
  <p class='cataLabel'>品牌</p>
  <ul class="cataList">
    <li class="cata"><a href="/powderBYbrand/enfamil">美赞成 (Emfamil)</a></li>
    <li class="cata"><a href="/powderBYbrand/similac">雅培 (Similac)</li>
    <li class="cata"><a href="/powderBYbrand/nestle">雀巢 (Nestle)</li>
  </ul>

  <p class='cataLabel'>年龄</p>
  <ul class="cataList">
    <li class="cata"><a href="/powderBYstage/1">0 - 6个月  </li>
    <li class="cata"><a href="/powderBYstage/2">6 - 12个月 </li>
    <li class="cata"><a href="/powderBYstage/3">12 - 36个月 </li>
  </ul>
</div>
